[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-star-empty:before {
  content: "\e923";
}
.icon-star:before {
  content: "\e924";
}
.icon-business:before {
  content: "\e91c";
}
.icon-emaila:before {
  content: "\e91d";
}
.icon-instagram:before {
  content: "\e91e";
}
.icon-mobile:before {
  content: "\e91f";
}
.icon-person:before {
  content: "\e920";
}
.icon-whatsapp:before {
  content: "\e921";
}
.icon-youtube:before {
  content: "\e922";
}
.icon-down-arrow:before {
  content: "\e91a";
}
.icon-up-arrow:before {
  content: "\e91b";
}
.icon-info:before {
  content: "\e919";
}
.icon-edit:before {
  content: "\e916";
}
.icon-promotion:before {
  content: "\e917";
}
.icon-warning:before {
  content: "\e918";
}
.icon-address:before {
  content: "\e900";
}
.icon-arrow-left:before {
  content: "\e901";
}
.icon-arrow-right:before {
  content: "\e902";
}
.icon-checked:before {
  content: "\e903";
}
.icon-city:before {
  content: "\e904";
}
.icon-close:before {
  content: "\e905";
}
.icon-country:before {
  content: "\e906";
}
.icon-credit-cards:before {
  content: "\e907";
}
.icon-discount:before {
  content: "\e908";
}
.icon-email:before {
  content: "\e909";
}
.icon-facebook:before {
  content: "\e90a";
}
.icon-web:before {
  content: "\e90b";
}
.icon-google-plus:before {
  content: "\e90c";
}
.icon-linkedin:before {
  content: "\e90d";
}
.icon-paypal:before {
  content: "\e90e";
}
.icon-place-map:before {
  content: "\e90f";
}
.icon-place:before {
  content: "\e910";
}
.icon-search:before {
  content: "\e911";
}
.icon-tag:before {
  content: "\e912";
}
.icon-telephone:before {
  content: "\e913";
}
.icon-twitter:before {
  content: "\e914";
}
.icon-whatsapp1:before {
  content: "\e915";
}
